fastapi
uvicorn[standard]
pydantic
python-multipart
pytesseract
Pillow
opencv-python
numpy
google-generativeai
# pytest
# httpx
bulma
pytest-cov==4.1.0  # Para medir la cobertura de código en los tests 